@model IranExpert.ViewModels.ProfileFormViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
<div class="col-lg-12 mb-1">
    <!-- Illustrations -->
    <div class="card shadow mb-5">
        <div class="card-header py-4">
            <h6 class="m-0 font-weight-bold text-primary">اطلاعات شخصی</h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Save", "Home"))
            {
                <div class="col-xl-4 col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(a => a.Profile.Name)
                                <br />
                                @Html.TextBoxFor(a => a.Profile.Name, new { @class = "form-control form-control-user col-lg-10" })
                                @Html.ValidationMessageFor(a => a.Profile.Name)
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.LabelFor(a => a.Profile.Family)
                                <br />
                                @Html.TextBoxFor(a => a.Profile.Family, new { @class = "form-control form-control-user col-lg-10" })
                                @Html.ValidationMessageFor(a => a.Profile.Family)
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.LabelFor(m => m.Profile.StatusId)
                                @Html.DropDownListFor(m => m.Profile.StatusId, new SelectList(Model.statuses, "Id", "Name"), new { @class = "form-control form-control-user col-lg-10" })
                                @Html.ValidationMessageFor(m => m.Profile.StatusId)
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.LabelFor(m => m.Profile.CityId)
                                @Html.DropDownListFor(m => m.Profile.CityId, new SelectList(Model.Cities, "Id", "Name"), new { dir = "ltr", @class = "form-control form-control-user col-lg-10" })
                                @Html.ValidationMessageFor(m => m.Profile.CityId)
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.LabelFor(m => m.Profile.UniversityId)
                                @Html.DropDownListFor(m => m.Profile.UniversityId, new SelectList(Model.Universities, "Id", "Name"), new { dir = "ltr", @class = "form-control form-control-user col-lg-10" })
                                @Html.ValidationMessageFor(m => m.Profile.UniversityId)
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.LabelFor(m => m.Profile.CountryId)
                                @Html.DropDownListFor(m => m.Profile.CountryId, new SelectList(Model.Countries, "Id", "Name"), new { @class = "form-control form-control-user col-lg-10" })
                                @Html.ValidationMessageFor(m => m.Profile.CountryId)
                            </div>
                            <br />                            
                            <div class="form-group">
                                @Html.LabelFor(m => m.Profile.DegreeId)
                                @Html.DropDownListFor(m => m.Profile.DegreeId, new SelectList(Model.Degrees, "Id", "Titel"), new { @class = "form-control form-control-user col-lg-10" })
                                @Html.ValidationMessageFor(m => m.Profile.DegreeId)
                            </div>
                            <br />
                            <button type="submit">save</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

