@using IranExpert.Models
@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ایران لینک</title>
    <!-- Custom fonts for this template-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block" style="background: url(../../images/sunflower.jpg)"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h5 text-gray-900 mb-md-4">شبکه اجتماعی متخصصان ایرانی</h1>
                                    </div>
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { dir = "ltr", @class = "user", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true,"" , new { dir = "rtl", @class = "text-danger" })
                                        <div class="form-group">
                                            <div>
                                                @Html.TextBoxFor(m => m.Email, new { dir = "ltr", @placeholder = "ایمیل", @class = "form-control form-control-user btn-block" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                @Html.PasswordFor(m => m.Password, new { dir = "ltr", @placeholder = "رمز عبور", @class = "form-control form-control-user" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small col-md-offset-4 col-md-15">
                                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <button type="submit" class="btn btn-primary btn-user btn-block">ورود به سایت</button>
                                            </div>
                                            <hr>
                                   
                                            <a href="#" class="btn btn-google btn-user btn-block">
                                                <i class="fab fa-google fa-fw"></i> Login with Google
                                            </a>
                                            <a href="#" class="btn btn-facebook btn-user btn-block">
                                                <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                            </a>
                                        </div>
                                    }

                                    <hr>
                                    <div class="text-center">
                                        @Html.ActionLink("رمز عبور خود را فراموش کرده اید ؟", "ForgotPassword", "Account", new { @class = "small" })
                                    </div>
                                    <div class="text-center">
                                        @Html.ActionLink("عضویت در سایت", "Register", null, new { @class = "small" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <a href="#" class="btn btn-user btn-block text-gray-900 center-block bg-warning" style="height:auto">
                            <div>
                                <h4>ورود به صفحه نیازمندی ها</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

